<div class="container my-4">
    <form method="get" class="d-flex flex-wrap align-items-center gap-2">
        <!-- فرم جستجو -->
        <div class="flex-grow-1">
            <input 
                type="text" 
                name="q" 
                value="{{ query|default_if_none:'' }}" 
                class="form-control shadow-sm rounded-pill bg-dark text-danger border-danger" 
                placeholder="Search post"
                autocomplete="off"
            >
        </div>
        <button type="submit" class="btn btn-outline-danger-dark text-danger">
            🔍 Search
        </button>
        

        <!-- دکمه‌های مرتب‌سازی -->
        <div class="btn-group" role="group" aria-label="Sort buttons">
            <button 
                type="submit" 
                name="sort" 
                value="new" 
                class="btn btn-outline-danger-dark text-danger{% if sort == 'new' %} active{% endif %}"
            >
                🆕 Newest
            </button>
            <button 
                type="submit" 
                name="sort" 
                value="old" 
                class="btn btn-outline-danger-dark text-danger{% if sort == 'old' %} active{% endif %}"
            >
                📜 Oldset
            </button>
            <button 
                type="submit" 
                name="sort" 
                value="popular" 
                class="btn btn-outline-danger-dark text-danger{% if sort == 'popular' %} active{% endif %}"
            >
                🔥 Popular
            </button>
        </div>
    </form>
</div>
